* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: linear-gradient(135deg, #1e1e2f, #2a2a40);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.game-board {
    width: 85vw;
    height: 90vh;
    background-color: #b1b1b1;
    border-radius: 16px;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}

.game-board-title {
    width: 100%;
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #000;
    background: linear-gradient(90deg, aqua, #00d4ff);
    padding: 15px 0;
    border-radius: 10px;
}
.game-board-title2 {
    width: 80%;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #000;
    padding: 15px 0;
    border-radius: 10px;
}

canvas {
    background: #fff;
    border: 3px solid #000;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    display: block;
    max-width: 100%;
    max-height: 100%;
}


.restart-btn {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -20%);
    padding: 20px 40px;
    font-size: 22px;
    background: #00d4ff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    z-index: 9999;
}
.restart-btn:hover {
    background: aqua;
}
